@model UserProfileModel


@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/CustomerLayout/Index.cshtml";
}


        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Widget Designs</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="">

                    <div class="row">
                      <div class="col-md-12 col-xs-12 widget widget_tally_box">
                        <div class="x_panel fixed_height_390">
                          <div class="x_content">
                            <div class="flex">
                              <ul class="list-inline widget_profile_box">
                                <li>
                                  <a>
                                    <i class="fa fa-instagram"></i>
                                  </a>
                                </li>
                                <li>
                                  <img src="~/gentela-gh-pages/production/images/user.png" alt="..." class="img-circle profile_img">
                                </li>
                                <li>
                                  <a>
                                    <i class="fa fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>

                            <h3 class="name">@ViewBag.Name</h3>

                            <div class="flex">
                              <ul class="list-inline count2">
                                <li>
                                  <h3>12</h3>
                                  <span>Etkinlik</span>
                                </li>
                                <li>
                                  <h3>14</h3>
                                  <span>Takipçi</span>
                                </li>
                                <li>
                                  <h3>12</h3>
                                  <span>Takip</span>
                                </li>
                              </ul>
                            </div>
                            <p>
                              <strong>Email :</strong> @ViewBag.Email
                              <br>
                              <strong> Şehir :</strong> @ViewBag.City
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Gruplarım</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            @foreach (var item in Model.Groups)
                            {
                              <article class="media event">
                                <a class="pull-left date">
                                  <p class="month"> </p>
                                  <p class="day"><br></p>
                                </a>
                                <div class="media-body">
                                  <a class="title" href="#">@item.Title</a>
                                  <p>@item.Content</p>
                                </div>
                              </article>
                            }
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Yaklaşan Etkinlikler</h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            @foreach (var item in Model.Events)
                            {
                              <article class="media event">
                                <a class="pull-left date">
                                  <p class="month">@item.Date.DayOfWeek</p>
                                  <p class="day">@item.Date.Day</p>
                                </a>
                                <div class="media-body">
                                  <a class="title" href="#">@item.Title</a>
                                  <p>@item.Content</p>
                                </div>
                              </article>
                            }
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>